.headerImage {
    position: absolute;
}

.siteWrap {
    padding: 0;
}

.header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 3.5rem 1rem 0;
    position: relative;
    transform: translate(0, 0);
    width: 100%;
    z-index: 0;
}

.header:after {
    background: rgba(255,255,255,.85);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.headerTitle {
    color: rgb(0,0,0);
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 20;
}

@media (min-width: 800px) {
    .header {
        padding: 0;
    }
}

.title {
    display: block;
    font-size: 2rem;
    margin: 0 1rem;
    position: relative;
    z-index: 45;
}

@media (min-width: 680px) {
    .title {
        font-size: 4rem;
        margin: 0;
    }
}

.title:after {
    border-top: 4px solid #c1b581;
    content: "";
    left: 50%;
    margin-left: -2rem;
    position: absolute;
    top: -.5rem;
    transform: translate(0, 0);
    transition: transform .35s ease-in-out;
    width: 4rem;
    z-index: -1;
}

.intro {
    background: #141414;
    color: white;
    padding: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

@media (min-width: 680px) {
    .intro {
        height: 100vh;
        padding: 0;
    }

    .introText {
        max-width: 640px;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        line-height: 1.7;
    }
}

.list ul {
    font-size: .75rem;
    list-style-type: none;
    margin: 0;
    padding: .75rem 0 0;
}

.list li {
    color: #c1b581;
    margin: 0 0 .25rem 0;
}

.heading {
    margin: 0;
}

.listContainer {
    margin: 1rem;
    text-align: center;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 4rem 0;
    width: 90%;
}

.rowColumn{
    flex-direction: column;
    word-wrap: break-word
}

@media (min-width: 800px) {
    .row {
        flex-direction: row;
    }

    .listContainer {
        display: flex;
        flex-direction: column;
        flex: 1 1 33%;
        margin: 0;
        padding-left: 2rem;
        text-align: left;
    }
    
    .listContainerLeft {
        padding-left: 0;
        padding-right: 2rem;
        text-align: right;
    }
    
    .rowColumn{
        word-wrap: normal;
    }
}



.row img {
    max-height: 80vh;
}

.visitTitle {
    margin: 0;
}