.container {
    align-items: center;
    display: flex;
    margin: -10px auto 0;
    max-width: 1200px;
    width: 90%;
}

.link {
    background: rgba(0, 0, 0, 1);
    border-radius: 50%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 0 10px 0 0;
    padding: 10px;    
    transition: transform .35s ease-in-out;
    width: 40px;
}

.link:after {
    display: none;
}

.link:hover {
    transform: translate(0, 10px);
}

.link:hover .logo {
    transform: rotate(90deg);
}

.logo {
    transition: transform .35s ease-in-out;
    transform: translate3d(0, 0, 0); 
}