.projects {
    padding: 15vh 0 5vh 5px;
}

.bg {
    background-position: center center;
    background-size: cover;
    padding: 10rem 0;
    position: relative;
    text-align: center;
}

.bg:after {
    background: rgba(255, 255, 255, .85);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.titleWrap {
    position: relative;
    z-index: 20;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    color: #c1b581;
    font-size: .75rem;
    margin: 0;
}