.header {
  background: var(--main-white);
  left: 0;
  overflow: hidden;
  padding: 0 0 10px 0;
  position: fixed;
  top: 0;
  transition: transform .35s cubic-bezier(0.135, 1.650, 0.365, 1.070), background-color .35s ease;
  transform: translate(0, -90vh);
  width: 100%;
  z-index: 40;
}

.activeHeader {
  overflow: visible;
  /* transform: translate(0, 0); */
}

@media (max-width: 480px) {
  .activeHeader {
      /* transform: translateY(0); */
  }
}

.pullDown {
  align-items: center;
  background: var(--main-black);
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  height: 94vh;
  justify-content: center;
  position: relative;
  transition: transform .35s ease-in-out;
  width: 100%;
  z-index: 20;
}