.header {
    background-color: transparent;
    left: 0;
    overflow: hidden;
    padding: 0 0 20px 0;
    position: absolute;
    top: 0;
    transition: transform .35s cubic-bezier(0.135, 1.650, 0.365, 1.070), background-color .35s ease;
    transform: translate(0, calc(20px - 110vh));
    width: 100%;
    z-index: 40;
}

.isHovered {
    will-change: transform;
}

.activeHeader {
    background-color: white;
    overflow: visible;
    transform: translate(0, calc(5% - 20vh));
}

@media (max-width: 480px) {
    .activeHeader {
        transform: translateY(-69px);
    }
}

.pullDown {
    align-items: center;
    background: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
    display: flex;
    height: 110vh;
    justify-content: center;
    transition: transform .35s ease-in-out;
    width: 100%;
    z-index: 20;
}