.title {
    font-size: 14px;
    margin: 20px 0 0;
}

.subTitle {
    color: rgba(107, 107, 107, 0.75);
}

.location {
    display: none;
}

@media (min-width: 550px){
    .location {
        color: rgba(107, 107, 107, 0.55);
        display: inline;
    }
}
